<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>System Update</vendor>
  <vendor_url>https://github.com/wakedog/system-update</vendor_url>
  <icon_name>io.github.wakedog.SystemUpdate</icon_name>

  <!-- Refreshing package information changes nothing that is installed, so the
       person at the computer may do it without a password, as with Ubuntu's
       own Software Updater. -->
  <action id="io.github.wakedog.SystemUpdate.refresh">
    <description>Check for software updates</description>
    <message>Authentication is required to refresh package information</message>
    <icon_name>io.github.wakedog.SystemUpdate</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/system-update/system-update-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">refresh</annotate>
  </action>

  <action id="io.github.wakedog.SystemUpdate.upgrade">
    <description>Install software updates</description>
    <message>Authentication is required to install updates and clean up the system</message>
    <icon_name>io.github.wakedog.SystemUpdate</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/system-update/system-update-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">upgrade</annotate>
  </action>
</policyconfig>
